.Order{
	width: 80%;
	border:1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 10px;
	margin: 10px auto;
	box-sizing: border-box;
}


.OrderOpen {
    animation: openOrder 0.4s ease-out forwards;
    
}
@keyframes openOrder {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}