.ContactData{
	margin: 20px auto;
	width: 80%;
	text-align: center;
	box-shadow: 0 2px 3px #ccc;
	border:1 solid #eee;
	padding :10px;
	box-sizing: border-box;
}


@media (min-width: 600px) {
	.ContactData{
		width: 80%;
}
}


.ContactDataOpen {
    animation: openProfile 0.4s ease-in-out forwards;
}

.ContactData {
    animation: closeProfile 1s  ease-in-out  forwards;
}



@keyframes openProfile {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes closeProfile {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);

    }
}